.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input button{
    width: 100%;
}
.input input[type='text']{
    margin: 0;
    padding: 0;
    width: 100px;
    
}